#menu-title {
    text-align: center;
    font-size: 8vmin;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    letter-spacing: 0.2vmin;
    margin-bottom: 5vmin;
    transition: all 0.3s ease;
}

#menu-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vmin;
    width: 100%;
    position: relative;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.class-btn {
    width: 20vmin;
    min-width: 120px;
    height: 25vh;
    padding: 1.5vmin 0;
    font-size: 4.5vmin;
    color: #fff;
    background-color: black; 
    background-size: cover;
    background-position: center;
    border: 0.5vmin double #fff;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.1s, background-color 0.2s;
}

.class-btn:hover {
    transform: scale(1.05);
}

.class-info {
    display: none;
    width: 18vw;
    height: max-content;
    max-width: 90vw;
    padding: 1vmin;
    font-size: 3vmin;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.4;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
    border: 0.1vmin solid rgba(255, 255, 255);
    margin-top: 3vmin;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: rgba(0,0,0,0.9);
    padding: 3vmin;
    border: 0.5vmin double #fff;
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 400px;
    letter-spacing: 0.1em;
    font-size: 3.5vmin;
}

.modal-content input {
    width: 80%;
    padding: 1vmin;
    margin: 1vmin 0;
    font-size: 4vmin;
    border: none;
    outline: none;
    text-align: center;
    border: 0.6vmin double #000000;
}

.modal-content button {
    padding: 1vmin 3vmin;
    font-size: 4vmin;
    border: 0.3vmin double #fff;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    cursor: pointer;
    transition: transform 0.1s;
}

.modal-content button:hover {
    transform: scale(1.05);
}