@font-face {
    font-family: 'Font';          /* il nome che userai nel CSS */
    src: url('../assets/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    cursor: crosshair; /* esempio di cursore personalizzato */
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-family: 'Font', sans-serif; /* font personalizzato */
    user-select: none; /* impedisce la selezione del testo */
    /* altre proprietà generali */
}



/* Esempio classe generica per pulsanti */
.button {
    background-color: #333;
    color: #fff;
    border: 2px solid #555;
    padding: 8px 16px;
    cursor: pointer;
}

/* Stilizzazione pulsante al passaggio del mouse */
.button:hover {
    background-color: #444;
}

/* Nascondi elementi (utile per cambiare scena) */
.hidden {
    display: none;
}
