@font-face { /* definizione del font personalizzato */
    font-family: "Font";
    src: url('../assets/font.ttf') format('truetype');
}


html,body {
    cursor: crosshair;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-family: "Font";
    user-select: none;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}


#game-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75vh;
}

#game-area {
    height: 100%;
    aspect-ratio: 4 / 3;
    background-color: #ffffff;
}

button {
    font-family: inherit;
}


#death-screen {
    position: fixed;
    inset: 0;
    background: rgba(100, 0, 0, 0.85);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}


.hidden {
    display: none !important;
}