@font-face { /* definizione del font personalizzato */
    font-family: "Font";
    src: url('../assets/font.ttf') format('truetype');
}


html,body {
    cursor: crosshair; /* cursore personalizzato */
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
    color: #fff; /* colore del testo */
    font-family: "Font"; /* font personalizzato */
    user-select: none; /* impedisce la selezione del testo */
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}


#game-container {
    display: flex; 
    justify-content: center; /* centra orizzontalmente */
    align-items: center; /* centra verticalmente */
    width: 75%;
    height: 75vh; /* altezza basata sulla viewport */
}

#game-area {
    height: 100%;
    aspect-ratio: 4 / 3; /* mantiene il rapporto 4:3 */
    background-color: #ffffff;
}

button {
    font-family: inherit;
}


#death-screen {
    position: fixed;
    inset: 0;
    background: rgba(100, 0, 0, 0.85);
    z-index: 9999; /* sopra a tutto */
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}


.hidden {
    display: none !important;
}
