.menu-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #000000 0%, #111 100%);
    color: #fff;
}

.menu-title {
    font-size: 8vmin;
    margin-bottom: 5vmin;
    text-align: center;
    text-shadow: 0 0 8px #fff;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    width: 50%;
    max-width: 400px;
}

.menu-btn {
    width: 100%;
    padding: 2vmin 0;
    font-size: 5vmin;
    color: #fff;
    background-color: rgba(0, 0, 0);
    border: 0.5vmin double #fff;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.1s, background-color 0.2s;
}

.menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}


/* ===== Finestre Generali ===== */
.menu-window {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 700px;
    max-height: 75%;
    background: rgba(0, 0, 0);
    border: 0.5vmin double #fff;
    box-shadow: 0 0 20px #000;
    padding: 2vmin;
    overflow-y: auto;
    color: #fff;
    z-index: 100;
    animation: fadeIn 0.3s ease;
}

.menu-window h2 {
    text-align: center;
    margin-bottom: 1.5vmin;
    font-size: 5vmin;
    text-shadow: 0 0 8px #fff;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    align-items: center;
}

.commands-img {
    width: 100%;
    border-bottom: 10vmin solid rgb(0, 0, 0, 0);
    border-top: 10vmin solid rgb(0, 0, 0, 0);
}

/* Opzioni */
.options-content {
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
}

.option {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vmin;
}

.option label {
    margin-bottom: 0.5vmin;
    font-size: 3vmin;
}

.option input[type="range"],
.option select {
    width: 100%;
    padding: 0.5vmin;
    border-radius: 0.5vmin;
    background: rgba(255, 255, 255);
    border: 0.2vmin solid #fff;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 4vmin;
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
}

.hidden {
    display: none;
}

/* ======== Crediti ======== */
.credits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmin;
    color: white;
}

.credits-content h1 {
    font-size: 3.6vmin;
    margin-bottom: 10px;
    text-decoration: underline;
}

.credits-content h3 {
    font-size: 3vmin;
    font-weight: normal;
    margin: 0;
}

.credits-content a {
    margin-top: 12px;
}

#github-img {
    display: flex;
    justify-content: center;
}

#github-img img{
    width: 15%;
}
