#bottom-ui {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 75%;
    height: 25%;
    background-color: rgba(0, 0, 0);
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo... */
}

#player-head {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 16%; /* larghezza dell'immagine */
    height: 100%; /* altezza dell'immagine */
    background-image: url("../assets/images/char.jpeg");
    background-size: cover; /* Copre tutta l'area */
    background-position: center; /* Centra l'immagine */
    border: 6px double #fff; /* double per il doppio bordo */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo... */
}

#textbox {
    position: absolute;
    right: 0%;
    width: 84%;
    height: 100%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 1);
    border: 6px double #fff; /* Double per il doppio bordo */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
    overflow: hidden;
}

#textbox-content {
    white-space: normal;          /* permette di andare a capo */
    overflow-wrap: break-word;    /* forza l'andata a capo se la parola è troppo lunga */
    word-break: break-word;  
    font-size: 6vmin;
}






#right-ui {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 100%;
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
}

#controls{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0);
    border: 6px double #fff; /* Double per il doppio bordo */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
    display: flex; /* Usa Flexbox per il layout */
    flex-direction: column; /* Disposizione verticale */
    justify-content: center; /* Centra verticalmente */
    padding: 3%;
    gap: 2%;
}

#controls-up, #controls-down {
    display: flex; /* Usa Flexbox per il layout */
    justify-content: space-around; /* Spazio uniforme tra i bottoni */
    width: 100%;
    height: 40%;
    gap: 2%;
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
}

.control-btn {
    position: relative;
    width: 40%; /* Larghezza del bottone */
    background-color: rgb(0, 0, 0); /* Colore di sfondo leggermente visibile */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
    font-size: 6vmin;
    color: #fff;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il bottone */
    border: 1px solid #fff; /* Bordo bianco */

    cursor: pointer;  /* mantiene il cursore a mano */
}


#map {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0);
    border: 6px double #fff; /* Double per il doppio bordo */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
}

#inventory {
    position: relative;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0);
    border: 6px double #fff; /* Double per il doppio bordo */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
}

#inventory-title {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 16%;
    background-color: rgba(0, 0, 0);
    border-bottom: 6px double #fff;
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
    text-align:center; /* Centra il testo orizzontalmente */
    font-size: 4vmin;
}

#inventory-slots {
    position: absolute;
    top: 16%;
    width: 100%;
    height: 84%;
    display: flex; /* Usa Flexbox per il layout */
    flex-wrap: wrap; /* Permette di andare a capo se necessario */
    justify-content: space-around; /* Spazio uniforme tra gli slot */
    align-items: center; /* Centra gli slot verticalmente */
    padding: 4px; /* Spazio interno */
    gap: 4px; /* Spazio tra gli slot */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
    
}

.inventory-slot {
    width: 21%; /* Larghezza dello slot */
    background-color: rgba(255, 255, 255, 0.1); /* Colore di sfondo leggermente visibile */
    border: 2px solid #fff; /* Bordo bianco */
    box-sizing: border-box; /* Larghezza dichiarata include gia padding, bordo...  */
    aspect-ratio: 1 / 1; /* sempre quadrato */
}